.dot-icon {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #000;
  border-radius: 50%;
}
.box-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.box-shadow1 {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.right {
  float: right;
}

.font-size {
  font-weight: bold;
}
.fa-edit {
  font-size: 28px;
  color: red;
  cursor: pointer;
}

.fa-briefcase {
  font-size: x-large;
}

.fa-copy {
  font-size: 28px;
  color: blue;
}
.fa-clock-o {
  font-size: 28px;
  color: red;
}
.clock-warning {
  font-size: 28px;
  color: #e4a11b;
}
